*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 800px;
    display: flex; /*Utilizamos display flex: para que el diseño de la pagina se acomode a cualquier dispositivo*/
}
/*Le damos color y forma al header*/
header{
    width: 100%;
    height: 80px;
    background:#880E4F;
    text-align: center;
}

/*Establecemos margen, tamaño al texto que se encuentra en la cabecera dentro del elemento span*/
header span{
    font-size: 30px;
    padding: 10px;
    color: white;
    position: relative;
    top: 20px;
    left: 10px;
}

.content-menu{
    width: 800px; /*Definimos el ancho de la barra laterañ del menu*/
    background:#EDE7F6;
}


.content-menu li{
    list-style: none;
    text-align: center; /*justifica el texto*/
    padding: 20px;
    color: white;
    transition: all 300ms; /*Le da zoom al icono seleccionado*/
    cursor: pointer;
}

/*Establecemos el efecto que tendra cada icono al momento de pasar por encima con el cursor*/
.content-menu li:hover{
    transform: translateY(10px);
    background: rgba(0,0,0,0.5);
}

.content-menu li span{
    font-size: 40px; /*Tamaño de los iconos de la barra lateral*/
}

/*Cambiamos de color al icono 1*/
.icon1{
    color: #BA7404;
}

/*Cambiamos de color al icono 2*/
.icon2{
    color: #1BBFB2;
}

/*Cambiamos de color al icono 3*/
.icon3{
    color: #A319A4;
}


/*Cambiamos de color al icono 4*/
.icon4{
    color: #760B0B;
}

/*Cambiamos de color al icono 5*/
.icon5{
    color: #1B7E9F;
}

/*Cambiamos de color al icono 6*/
.icon6{
    color: #6A26DF;
}


/*Cambiamos de color al icono 7*/
.icon7{
    color: rgb(82, 130, 175);
}

/*Cambiamos de color al icono 8*/
.icon8{
    color: rgb(168, 22, 144);
}

/*Cambiamos de color al icono 9*/
.icon9{
    color: rgb(19, 131, 122);
}

/*Cambiamos de color al icono 10*/
.icon10{
    color: rgb(212, 209, 25);
}

/*Utilizaremos la clase asignada a cada elemento <a> en la estructura html
para poder quitar el color azul y darle color al texto*/
 .text{
    color: black; 
    font-family: arial; /*le asignamo el formato de texto*/
    text-decoration: none; /*Quitamos la decoracion azul del elemento <a>*/
    text-align: center; /*Alineamos el texto*/
    width: 5000px; /*Le damos el ancho que ocupara cada texto*/
}

/*llamamos a nuestro elemento img: para darle el ancho, altura y su posicion*/
img {
    height: 1190px;
    width: 1481px;
    background-position: 100%;
    background-size: 2000px;
    background-attachment: scroll;
    display: flex;
}
