div {
    display: block;
}

#box_1 { 
    position: absolute;
    background: #44accf;
	top: 10px;
    right:10px;	
    bottom: 10px;
    left: 10px;
}

#box_2 { 
    position: absolute;
    background: #ff9c34;
	top: 20px;
    right:20px;	
    bottom: 20px;
    left: 20px;
}
